<div class="d-flex">
    <div class="container">
        <div class="card">
            <div class="mb-3">
                <label for="add-blogpost-title" class="form-label">Blog Title</label>
                <input type="email" class="form-control" id="add-blogpost-title" placeholder="">
            </div>
            <div class="mb-3">
                <label for="add-blogpost-content" class="form-label">Blog Content</label>
                <textarea class="form-control" id="add-blogpost-content" rows="6"></textarea>
            </div>
            <button class="btn btn-primary mb-3 mx-3" id="add-blogpost" style="width:min-content; padding: .75rem;"
                type="submit">Create</button>
        </div>
    </div>
</div>

<script src="/js/addPost.js"></script>